<h1>Welcome, <%= @user.name %></h1>
<h2>Here are all your events</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Created: <%= @user.events.count %></h4>
      <% @user.events.each do |event| %>
      <div class="wrap panel panel-default">
        <div class="panel-heading"><h4 class="text-primary"><%= event.name %></h4></div>
        <div class="panel-body">
          <p> <%= event.description %></p>
        </div>
        <div class="panel-footer">
          <p class="details text-muted">
            &bull;&nbsp;Date of event: <%= event.date.to_formatted_s(:long_ordinal) %><br>
            &bull;&nbsp;Event created at: <%= event.created_at.to_formatted_s(:short) %>
          </p>
          <%= link_to 'Select attendees for this event', users_path, class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
    <%= link_to 'Host a new event', new_event_path %><br><br>
    </div>
    <div class="col-md-6">
      <h4>Attending: <%= @user.attended_events.count %></h4>
      <% @user.attended_events.each do |event| %>
      <div class="wrap panel panel-default">
        <div class="panel-heading"><h4 class="text-primary"><%= event.name %></h4></div>
        <div class="panel-body">
          <p> <%= event.description %></p>
        </div>
        <div class="panel-footer">
          <p class="details text-muted">
            &bull;&nbsp;Date of event: <%= event.date.to_formatted_s(:long_ordinal) %>
          </p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
