<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h3>Welcome</h3> <br>
<%= @user.name %>
<h4>Events:</h4><br>
<%= @user.events.count %>

<div class="container">
  <div class="row">
    <% @user.events.each do |event| %>
      <div class="panel panel-default col-6">
        <div class="panel-heading"><h3 class="text-primary"><%= event.title %></h3></div>
        <div class="author panel-body">
          <h4> <%= event.body %><br> </h4>
        </div>
        <div class="panel-footer">
          <h6 class="text-muted"><%= author(event) %>&nbsp;&bull;&nbsp;<%= event.created_at %></h6>
        </div>
      </div>
    <% end %>
  </div>
</div>
