<h1>Users#show</h1>
<h2>List of events you created</h2>
<h3>Welcome, <%= @user.name %></h3> <br>
<h4>Total events: <%= @user.events.count %></h4>

<div class="container">
  <div class="row">
    <% @user.events.each do |event| %>
      <div class="panel panel-default">
        <div class="panel-heading"><h4 class="text-primary"><%= event.name %></h4></div>
        <div class="panel-body">
          <p> <%= event.description %></p>
        </div>
        <div class="panel-footer">
          <p class="details text-muted">
            &bull;&nbsp;Date of event: <%= event.date.to_formatted_s(:long_ordinal) %><br>
            &bull;&nbsp;Event created at: <%= event.created_at.to_formatted_s(:short) %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
