<h1>Events#index</h1>
<h2>All Events</h2>

<h3>Total events: <%= @events.count %></h3>

<div class="container">
  <div class="row">
  <% @events.each do |event| %>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header"><h4 class="card-title"><%= event.name %></h4></div>
        <div class="card-body">
          <p class="card-text"><%= event.description.truncate_words(12) %></p>
          <p class="details text-muted">
            &bull;&nbsp;Date: &nbsp;<%= event.date.to_formatted_s(:long_ordinal) %><br>
            &bull;&nbsp;Created by: &nbsp;<%= event.creator.name %>
          </p>
          <% if logged_in? %>
            <%= link_to 'Register', event_path(event), class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
