<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<h4>Events:</h4><br>
<%= @events.count %>

<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <div class="panel panel-default col-6">
        <div class="panel-heading"><h3 class="text-primary"><%= event.name %></h3></div>
        <div class="author panel-body">
          <h4> <%= event.description %><br> </h4>
        </div>
        <div class="panel-footer">
          <h6 class="text-muted"><%= event.date %>&nbsp &bull &nbsp<%= creator(event) %>&nbsp;&nbsp &bull &nbsp<%= event.created_at %></h6>
        </div>
      </div>
    <% end %>
  </div>
</div>