
<h1><%= @event.name %></h1>
<h2>Event Creator:&nbsp;<%= @creator.name %></h2>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default wrap">
        <div class="panel-heading">
          <h4 class="text-primary">Date: <%= long_format(@event.date) %></h4>
        </div>
        <div class="panel-body">
          <p> <%= @event.description %></p>
        </div>
        <div class="panel-footer">
          <p class="details text-muted">
            &bull;&nbsp;Event created at: <%= short_format(@event.created_at) %>
          </p>
          <% if logged_in? && upcoming?(@event) %>
            <%= link_to 'Invite others to this event', options(@event), class: 'btn btn-warning' %>
          <% end %>
        </div>
      </div>
      <%= register(:users_list) %>
    </div>

    <div class="col-md-6">
      <div class="wrap">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">List of Attendees</th>
            </tr>
          </thead>
          <tbody>
            <% @event.attendees.each do |attendee| %>
              <tr>
                <td><%= search_for(attendee) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

